{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>A pirate's life is for me</h1>
        <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
    </div>
  </div>
</div>
{% endblock %}

<div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-3">
 {% for doc in blog.blogs %}
 <div class="col">
   <div class="card h-100  text-bg-success mb-3">
     <div class="card-body">
       <h5 class="card-title">{{ blog.blogs-headline }}</h5>
        <h6 class="card-captain">{{ blog.date }}</h6>
       <p class="card-text">{{ blog.slug }}</p>
     </div>
   </div>
 </div>
   {% endfor %}
</div>